<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\GraphQl\Schema\Type\Enum\DefaultDataMapper">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="CartItemErrorType" xsi:type="array">
                    <item name="undefined" xsi:type="string">0</item>
                    <item name="item_qty" xsi:type="string">1</item>
                    <item name="item_increment" xsi:type="string">2</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
