<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="DefaultWYSIWYGValidator">
        <arguments>
            <argument name="allowedAttributes" xsi:type="array">
                <item name="data-image-dimensions" xsi:type="string">data-image-dimensions</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Cms\Model\BlockRepository">
        <plugin name="pagebuilder_add_image_dimensions_on_block_save"
                type="Magento\PageBuilderPwa\Plugin\Cms\BlockSavePlugin"
                sortOrder="10"/>
    </type>
</config>
