<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="recaptcha_frontend">
            <group id="type_recaptcha">
                <field id="info_heading" translate="label" sortOrder="5"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magento\ReCaptchaPwa\Block\Adminhtml\System\Config\Form\Field\Notice</frontend_model>
                </field>
            </group>
            <group id="type_invisible">
                <field id="info_heading" translate="label" sortOrder="5"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magento\ReCaptchaPwa\Block\Adminhtml\System\Config\Form\Field\Notice</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
